@import '../../styles/main.scss';

.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: 700;
  text-align: center;
  padding: 5px 30px;
  margin: 0px 20px;
  display: inline-block;
  border-bottom: 1px solid #337ab7;
}

.nav-back {
  text-align: right;
  padding: 10px 0px;
}

.main {
  background-color: white;
  width: 100%;
  padding: 0px 100px 50px 100px;
  margin-bottom: 30px;

  .main-title {
    margin: 0px;
    padding: 30px 0px 60px 0px;
  }
}

.step-links a {
  text-align: center;
  padding: 5px 30px;
  margin: 0px 20px;
  display: inline-block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.section-title {
  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;
}

.DaycationView {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;

  .DaycationLogo {
    width: 300px;
    height: auto;
  }
}

.DaycationAlert {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #FF6E61;
  background: -moz-linear-gradient(left, #FF6E61 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #FF6E61 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #FF6E61 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #FF6E61 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #FF6E61 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FF6E61;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #eee;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

div[role="alert"] {
  position: fixed;
  bottom: 0px;
  left: 10%;
  right: 10%;
  z-index: 150;
}