@import '../../styles/main.scss';

.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: 700;
  text-align: center;
  padding: 5px 30px;
  margin: 0px 20px;
  display: inline-block;
  border-bottom: 1px solid #337ab7;
}

.nav-back {
  text-align: right;
  padding: 10px 0px;
}

.main {
  background-color: white;
  width: 100%;
  padding: 0px 100px 50px 100px;

  .main-title {
    margin: 0px;
    padding: 30px 0px 60px 0px;
  }
}

.step-links a {
  text-align: center;
  padding: 5px 30px;
  margin: 0px 20px;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.section-title {
  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;
}
